.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1200px;
}

.bg {
  width: 100vw;
}

.header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-size: 4.5em;
  font-weight: bolder;
  letter-spacing: 0.2em;
  margin-top: -40px;
}

.header.sub {
  color: white;
  font-size: 2em;
  font-weight: 500;
  margin-top: -20px;
}

.push-down {
  margin-top: 200px;
}