.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1200px;
}

.bg {
  width: 100vw;
}

.header {
  font-family: 'LuloCleanOne';
  font-weight: bold;
  font-style: normal;

  color: white;
  font-size: 4em;
  letter-spacing: 0.1em;
  margin-top: -30px;
}

.header.sub {
  font-family: 'Metropolis';
  font-weight: 300;
  font-style: normal;

  color: white;
  font-size: 2em;
  margin-top: -20px;
}

.push-down {
  margin-top: 200px;
}