.button {
  background-color: black;
  color: white;

  border: black;
  border-width: 2px;
  border-style: solid;

  width: fit-content;
  height: fit-content;
  padding: 8px;

  font-family: 'Metropolis';
  font-weight: 300;
  font-style: normal;

  transition: all .2s ease-in;
}

.button:hover {
  background-color: var(--accent);
  color: black;
}