.media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(var(--nav-height) + 2em);
  min-height: calc(100vh - var(--footer-height));

  .video-container{
      margin-bottom: 2em;

      .video {
        width: calc(3vw * 16);
        height: calc(3vw * 9);
        margin: auto;
      }
    
      @media (max-width: 1000px) {
        .video {
          width: 100vw;
          height: calc(100vw / 16 * 9);
        }
      }
  }
}