.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .content {
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: calc(var(--nav-height) + 5vw);
  }

  @media (max-width: 768px) {
    .content {
      width: 100vw;
      padding: 50px;
    }
  }

  .header {
    width: 100%; 
  }

  .header.sub {
    font-size: 1.5em;
    margin-bottom: 50px;
  }

  .separator {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .meta {
    margin-top: 5px;
  }

  .bar-group {
    font-family: 'Metropolis';
    font-weight: 300;
    font-style: normal;
    font-size: 0.95em;
  }

  .button {
    margin-bottom: 50px;
  }
}