.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  min-height: 700px;
  height: auto;

  img, div {
    padding: 40px;
  }
  
  .flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
  }
  
  .content {
    font-family: 'Metropolis';
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 2em;
  
    max-width: 350px;
  }
  
  .header {
    font-family: 'LuloCleanOne';
    font-weight: bold;
    font-style: normal;
    font-size: 3em;
  }
}

