.about-me {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-color: #c6c4c7;
  min-height: 700px;
  height: auto;
}

.about-me>* {
  padding: 25px;
}

.about-me .flex-vertical {
  height: 550px;
}

.about-me .content {
  font-family: 'Metropolis';
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  line-height: 2em;

  max-width: 350px;
}

.about-me .header {
  color: black;
  font-size: 3em;
}