.email-form {  
  .form-row {
    justify-content: center;
  }

  .status {
    margin-left: 0.75rem;
    align-self: center;
  }
  
  label {
    font-family: 'Metropolis';
    font-weight: normal;
    font-style: normal;
    color: var(--black);
    font-size: 0.8em;
  }

  .form-control {
    border-color: var(--black);
    border-radius: 0;
  }

  .form-control:focus {
    border-color: var(--accent);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 12px var(--accent-faded);
  }

  .form-control.is-invalid, .form-control.is-valid {
    padding-right: 0.75rem;
    background-image: none;
  }
}