.parallax-banner {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 1200px;
  }
  
  .bg {
    width: auto;
    min-width: 100vw;
    min-height: fit-content;
  }
  
  .header {
    font-family: 'LuloCleanOne';
    font-weight: bold;
    font-style: normal;
  
    color: white;
    font-size: 4em;
  }
  
  .header {
    margin-top: -30px;
  }
  
  .header.sub {
    font-family: 'Metropolis';
    font-weight: 300;
    font-style: normal;
  
    color: white;
    font-size: 2em;
    margin-top: -20px;
  }
  
  .spaced {
    letter-spacing: 0.1em;
  }
  
  .push-down {
    margin-top: 200px;
  }
  
  .flex-vertical {
    display: flex;
    flex-direction: column;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
}