.parallax-banner {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 60vw;
  }
  
  .bg {
    width: 100vw;
    min-height: fit-content;
  }
  
  .header {
    font-family: 'LuloCleanOne';
    font-weight: bold;
    font-style: normal;
  
    color: white;
    font-size: 4vw;
    margin-bottom: -1vw;
  }
  
  .header.sub {
    font-family: 'Metropolis';
    font-weight: 300;
    font-style: normal;
  
    color: white;
    font-size: 2vw;
  }
  
  .spaced {
    letter-spacing: 0.1em;
  }
  
  .push-down {
    margin-top: calc(74px + 10vw);
  }
  
  .flex-vertical {
    display: flex;
    flex-direction: column;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
}