.parallax-banner {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: 60vw;
  }
  
  .bg {
    width: 100vw;
  }

  @media (max-width: 767px) {
    .bg {
      height: 500px;
      object-fit: cover;
      object-position: -300px;
    }

    .banner {
      height: 500px;
    }
  }
  
  .header {
    font-family: 'LuloCleanOne';
    font-weight: bold;
    font-style: normal;
  
    color: white;
    font-size: #{"max(4vw, 1.9em)"};
    margin-bottom: -1vw;
  }
  
  .header.sub {
    font-family: 'Metropolis';
    font-weight: 300;
    font-style: normal;
  
    color: white;
    font-size: #{"max(2vw, 0.8em)"};
  }
  
  .spaced {
    letter-spacing: 0.1em;
  }
  
  .push-down {
    margin-top: calc(var(--nav-height) + 7vw);
  }
  
  .flex-vertical {
    display: flex;
    flex-direction: column;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
}